{% extends "main.html" %}

{% import "partials/nav-item.html" as item with context %}

<!-- Page content -->
{% block container %}
  <div class="md-content md-content--post" data-md-component="content">

    <!-- Page content -->
    <article class="md-content__inner md-typeset">
      {% block content %}
        {% include "partials/content.html" %}
        <div id="diff-container"></div>
      {% endblock %}
    </article>
  </div>
{% endblock %}


{% block extrahead %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/diff2html/bundles/css/diff2html.min.css" />
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="https://cdn.jsdelivr.net/npm/diff2html/bundles/js/diff2html.min.js"></script>
  <script>
    document$.subscribe(() => {
      const diffContainer = document.getElementById("diff-container");
      if (!diffContainer) return;

      const diffString = `{{ page.meta.diff | e }}`;

      if (diffString.trim()) {
        const diffHtml = Diff2Html.html(diffString, {
          drawFileList: true,
          matching: "lines",
          outputFormat: "side-by-side"
        });
        diffContainer.innerHTML = diffHtml;
      }
    });
  </script>

  <script>
    document$.subscribe(() => {
      const wrappers = document.querySelectorAll(
        ".d2h-file-list-wrapper, .d2h-wrapper"
      );
      console.log(wrappers.length, wrappers)
      if (!wrappers.length) return;

      // 配色映射
      const themeMap = {
        light: "d2h-light-color-scheme",
        dark: "d2h-dark-color-scheme",
        auto: "d2h-auto-color-scheme"
      };

      // 自动更新 diff2html 主题
      function updateDiffTheme() {
        const mdColorMedia = document.body.getAttribute("data-md-color-media") || "";
        let themeKey = "auto";
        if (mdColorMedia.includes("dark")) themeKey = "dark";
        else if (mdColorMedia.includes("light")) themeKey = "light";

        const d2hClass = themeMap[themeKey];
        wrappers.forEach(el => {
          Object.values(themeMap).forEach(cls => el.classList.remove(cls));
          el.classList.add(d2hClass);
        });
      }

      updateDiffTheme();
      const observer = new MutationObserver(updateDiffTheme);
      observer.observe(document.body, { attributes: true, attributeFilter: ["data-md-color-media"] });
    });
  </script>

{% endblock %}
