# macos
.DS_Store

# linux
*~

# ide
.vscode/
.idea/

# mkdocs
site/

# python
__pycache__/
*.py[codz]
*$py.class
wheels/
build/
*.egg-info/
*.egg
__pypackages__/
.env

# more
trash/
docs/**/*.md
docs/**/*.pdf
*.tsv
mkdocs.yml
